<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Payments</title>
    <style>
        body {
            padding-left: 15px; /* Adjust the value as needed */
        }
    </style>
</head>
<body>
    <div th:include="navbar :: navbar"></div>
    <h2>Monthly Payments</h2>

    <div>
        <span th:each="payment : ${monthlyPayments}">
            <span th:utext="${payment}"></span>
            <br>
        </span>
    </div>

    <br>
    <button onclick="openProspectModal()">Add New Prospect</button>

    <!-- The Modal -->
    <div id="prospectModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Prospect</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeProspectModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/mortgage/addProspect" method="post">
                        <div class="form-group">
                            <label for="customerName">Customer Name:</label>
                            <input type="text" class="form-control" id="customerName" name="customerName" required>
                        </div>
    
                        <div class="form-group">
                            <label for="loanAmount">Loan Amount:</label>
                            <input type="float" class="form-control" id="loanAmount" name="loanAmount" required min="0">
                        </div>
    
                        <div class="form-group">
                            <label for="yearlyInterestRate">Yearly Interest Rate:</label>
                            <input type="float" class="form-control" id="yearlyInterestRate" name="yearlyInterestRate" required min="0">
                        </div>
    
                        <div class="form-group">
                            <label for="loanTermInYears">Loan Term (Years):</label>
                            <input type="number" class="form-control" id="loanTermInYears" name="loanTermInYears" required min="1">
                        </div>
    
                        <button type="submit" >Add Prospect</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- JavaScript to control the modal -->
    <script>
        function openProspectModal() {
            document.getElementById("prospectModal").style.display = "block";
        }
    
        function closeProspectModal() {
            document.getElementById("prospectModal").style.display = "none";
        }
    </script>

</body>
</html>
